In [19]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
Data = pd.DataFrame()

In [11]:
Data["t"] = [0.1, 0.2, 0.3, 0.5, 1.3]
Data["X"] = [2, 3, 4.1, 6.2, 13.7]
Data.drop("time", 1, inplace = True)

In [12]:
Data

     t     X
0  0.1   2.0
1  0.2   3.0
2  0.3   4.1
3  0.5   6.2
4  1.3  13.7

In [13]:
Data["v"] = Data["X"] / Data["t"]

In [14]:
Data

     t     X          v
0  0.1   2.0  20.000000
1  0.2   3.0  15.000000
2  0.3   4.1  13.666667
3  0.5   6.2  12.400000
4  1.3  13.7  10.538462

In [15]:
v = Data["v"].mean()

In [16]:
v

14.321025641025638

In [17]:
delta_v = np.sqrt(Data["v"].var())

In [18]:
delta_v

3.5755444452852756

In [23]:
Data["t"].add(2.6, axis = 0)

0    2.7
1    2.8
2    2.9
3    3.1
4    3.9
Name: t, dtype: float64

In [24]:
Data

     t     X          v
0  0.1   2.0  20.000000
1  0.2   3.0  15.000000
2  0.3   4.1  13.666667
3  0.5   6.2  12.400000
4  1.3  13.7  10.538462